	<ion-view view-title="About Us" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-about_us" class=" page-about_us">
		<div class="padding scroll">

    <div class="padding about-us-box">
        <h2>Cars Wallpaper</h2>
        <div>
            Newest Cars Wallpaper
        </div>
    </div>
    <br/>

    <div class="disable-user-behavior about-us-box">
     
      <a class="item item-icon-left" ng-click="openURL('https://facebook.com/fp.abdulwahid')" >
        <i class="positive icon ion-social-facebook"></i>
        Like Us on Facebook
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('https://plus.google.com/u/0/109694016339346319300')" >
        <i class="assertive icon ion-social-googleplus"></i>
        Join us on Google+
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('http://bit.ly/082155711010')" >
        <i class="icon ion-social-whatsapp balanced-900"></i>
       Follow me on WhatsApp
      </a>
      
       <a class="item item-icon-left" ng-click="openURL('mail://wahid.pmt@gmail.com')" >
        <i class="icon ion-android-mail royal"></i>
        For Business Cooperation
        <p>
            Email: wahid.pmt@gmail.com
        </p>
      </a>
      
    </div>
    <br/>
</div>
<br/>
<br/>
<br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
